$color-jungle-green: #1B2021;
$color-sapphire-blue: #19647E;
$color-deep-space-sparkle: #016FB9;

$color-flame: #FF9505;
$color-white: #FFFCE8;

$color-github: #000;
$color-linkedin: #0077B5;
$color-email: $color-flame;