@import "~bootstrap/scss/bootstrap.scss";
@import "./variables.scss";
@import "./colors";
@import "./fonts.scss";

html,
body {
    height: 100%;
    width: 100%;
}
body {
    @media screen and (min-width: $screen-sm) {
        overflow: hidden;
    }
}

a,
a:visited,
a:active,
a:hover,
a {
    color: inherit;
    text-decoration: none;
}

.page-container {
    font-family: $default-font;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: $color-white;

    .yellow-cover {
        background-color: #d38312;
        background-image: linear-gradient(141deg, #f09819, #edde5d);
        position: absolute;
        width: 110%;
        height: 35vh;
        left: -5%;
        top: -2vh;
        transform: rotate(1deg);
        z-index: -1;
    }

    .header {
        min-height: 180px;
        flex-grow: 0;
        position: relative;

        .logo {
            display: block;
            height: 100px;
            width: 256px;
            background: url(../assets/logo2.svg) no-repeat;
            background-size: 100% auto;
            background-position: center center;
            margin: $spacerBig 0 0 0;

            @media screen and (min-width: $screen-sm) {
                height: 100%;
                min-height: 180px;
                margin: 0;
            }
        }

        .title-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;

            .scrollable-titles {
                overflow: hidden;

                .title {
                    padding: $spacerBig 0;
                    color: $color-jungle-green;

                    h1,
                    h2 {
                        padding: 0;
                        margin: 0;
                        font-weight: 700;
                        font-size: 3em;
                        text-align: center;
                    }

                    .description {
                        display: block;
                        font-weight: 300;
                        text-align: center;
                        transform: rotate(-2deg) scale(0);
                    }

                    &.active {
                        .description {
                            transform: rotate(-2deg) scale(1);
                            transition: transform 250ms ease-in;
                        }
                    }
                }
            }

            @media screen and (min-width: $screen-sm) {
                flex-direction: row;

                .scrollable-titles {
                    margin-left: $spacer;

                    .title {
                        padding: $spacerBig * 2 0;
                    }
                }
            }
        }
    }

    .console-container {
        $border-radius: 3px;
        flex-grow: 1;
        margin-bottom: $spacerBig;

        .console {
            display: flex;
            height: 100%;
            flex-direction: column;
            border-radius: $border-radius;
            box-shadow: 2px 2px 8px rgba(0, 0, 0, .4);

            .top-bar {
                flex: 0 0;
                font-size: .9em;
                border-top-left-radius: $border-radius;
                border-top-right-radius: $border-radius;
                background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
                border-top: 1px solid $color-white;

                text-align: center;
                padding: 3px 0;
            }

            .content {
                font-family: $console-font;
                font-size: .9em;
                font-variant-ligatures: common-ligatures;
                background-color: $color-jungle-green;
                padding: $spacer;
                color: $color-white;
                border-bottom-left-radius: $border-radius;
                border-bottom-right-radius: $border-radius;
                flex: 1 0;

                span {
                    &.r {
                        color: $color-flame;
                    }

                    &.y {
                        color: $color-deep-space-sparkle
                    }
                }
            }
        }
    }

    .footer {
        padding: $spacerBig 0;
        margin-bottom: 10vh;

        .social-icons {
            text-align: center;

            a.icon {
                margin: 0 $spacer;
                color: $color-jungle-green;
                opacity: .3;
                font-size: .9em;
                font-weight: 500;
                transition: color 300ms linear, opacity 420ms ease-out;
                vertical-align: middle;
                padding: $spacerSmall;

                @media screen and (max-width: 575px) {
                    display: block;
                }

                &:before {
                    font-size: 1.5em;
                    vertical-align: middle;
                    margin-right: $spacerSmall;
                }

                &:hover {
                    opacity: 1;

                    &.icon-github {
                        color: $color-github;
                    }

                    &.icon-linkedin {
                        color: $color-linkedin;
                    }

                    &.icon-at {
                        color: $color-email;
                    }
                }
            }
        }
    }
}