@import "../../styles/variables/variables.scss";
@import "../../styles/variables/colors.scss";
@import "../../styles/variables/fonts.scss";

.console-container {
    $border-radius: 0px;
    margin-bottom: $spacer-big;

    .console {
        height: 100%;
        border-radius: $border-radius;
        position: relative;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, .4);

        .top-bar {
            flex: 0 0;
            font-size: .9em;
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
            background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
            border-top: 1px solid $color-white;

            text-align: center;
            padding: 3px 0;
        }

        .content {
            font-family: $console-font;
            font-size: .9em;
            font-variant-ligatures: common-ligatures;
            background-color: $color-jungle-green;
            padding: $spacer;
            color: $color-white;
            overflow: auto;
            height: 100%;

            span {
                &.r {
                    color: $color-flame;
                }

                &.y {
                    color: $color-deep-space-sparkle
                }
            }
        }
    }

    .scroll-indicator {
        $indicatorColor: $color-flame;

        border: 3px solid $indicatorColor;
        border-radius: 35%;
        height: 50px;
        width: 25px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: absolute;
        left: 50%;
        bottom: $spacer-big;
        opacity: .6;
        transform: translateX(-50%);

        &.hidden {
            transition: opacity 150ms;
            opacity: 0;
        }

        .wheel {
            $wheelOffset: 2px;
            width: 4px;
            height: 8px;
            background: $indicatorColor;
            margin: 10px -2px;
            border-radius: 35%;
            animation: scroll-wheel 7s infinite;

            @keyframes scroll-wheel {
                0% {
                    transform: translateY(-$wheelOffset);
                }

                20% {
                    transform: translateY($wheelOffset);
                }

                40% {
                    transform: translateY(-$wheelOffset);
                }

                60% {
                    transform: translateY($wheelOffset);
                }

                80% {
                    transform: translateY(-$wheelOffset);
                    height: 8px;
                    opacity: 1;
                }

                90% {
                    transform: translateY(15px);
                    height: 15px;
                }

                100% {
                    transform: translateY(-1px);
                    height: 8px;
                }
            }
        }
    }
}